---
import FilmScreening from "./FilmScreening.astro";

type Screening = {
  date: string;
  time: string;
  place: string;
  ticketsLink: string;
};

type Film = {
  title: string;
  poster: {
    src: string;
    alt: string;
  };
  description: string;
  infoButtonUrl: string;
  infoButtonDescription: string;
  screenings: Screening[];
};

const { film } = Astro.props as { film: Film };
---

<div class="film">
  {
    film.poster ? (
      <img
        class="film-poster"
        src={`/bioaero/${film.poster.src}`}
        alt={`${film.poster.alt}`}
      />
    ) : (
      <img
        class="film-poster zero-poster"
        src="/bioaero/svg/clapperboard-question-mark.svg"
        alt="Знак вопроса на фоне кинохлопушки"
      />
    )
  }
  <div class="film-info">
    <h2 class="film-title">{film.title}</h2>

    <a class="film-trailer" href={`${film.infoButtonUrl}`}>
      {
        film.infoButtonDescription || (
          <>
            <span class="icon" />
            трейлер
          </>
        )
      }
    </a>
    {film.description && <p>{film.description}</p>}
    {
      film.screenings.map((screening) => (
        <FilmScreening screening={screening} />
      ))
    }
  </div>
</div>

<!-- <div class="film">
          <img
            class="film-poster zero-poster"
            src="svg/clapperboard-question-mark.svg"
            alt=""
          />
          <div class="film-info">
            <h2 class="film-title">Aero naslepo</h2>
            <a class="film-trailer" href="https://boxd.it/uqXaW"
              >Список фильмов предыдущих сеансов</a
            >
            <p>
              "Když zkusíte „Aero naslepo“, nebudete vědět, na jaký film jste se
              vypravili. Předem neplatíte nic. Po projekci dostanete možnost
              ocenit zážitek částkou, kterou si sami určíte."
            </p>
            <ul class="film-screening">
              <li>
                <p>ср 1.07 20:30 Aero</p>
                <a
                  class="film-tickets"
                  href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=48280"
                  ><span class="icon-tickets"></span>билеты</a
                >
              </li>
            </ul>
          </div>
        </div>
  -->
