---
import type { Film } from "../types";
import FilmScreening from "./FilmScreening.astro";

interface Props {
  film: Film;
}

const { film } = Astro.props;
---

<div class="film">
  {
    film.poster ? (
      <img
        class="film-poster"
        src={`/bioaero/${film.poster.src}`}
        alt={`${film.poster.alt}`}
      />
    ) : (
      <img
        class="film-poster zero-poster"
        src="/bioaero/svg/clapperboard-question-mark.svg"
        alt="Знак вопроса на фоне кинохлопушки"
      />
    )
  }
  <div class="film-info">
    <h2 class="film-title">{film.title}</h2>
    <a class="film-trailer" href={`${film.infoButtonUrl}`}>
      {
        film.infoButtonDescription || (
          <>
            <span class="icon" />
            трейлер
          </>
        )
      }
    </a>
    {film.description && <p>{film.description}</p>}
    {
      film.screenings.map((screening) => (
        <FilmScreening screening={screening} />
      ))
    }
  </div>
</div>
